@page
@model spl.Pages.Course.AddCourseModel
@{
    ViewData["Title"] = "Create Course";
    ViewData["CurrentMenu"] = "course";
    Layout = Model.Layout;
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">Create Course</h5>
            </div>
            <div class="card-body">
                <div id="error-toast" class="bs-toast toast fade bg-danger hide my-4" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <i class="bx bx-error me-2"></i>
                        <div class="me-auto fw-semibold">Create Error</div>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" id="error-msg"></div>
                </div>

                <form id="form-add-course">
                    <div class="mb-3">
                        <label class="form-label" for="kategori">Category <span class="text-muted fw-light">(Optional)</span></label>
                        <select id="kategori" name="kursus.IdKategori" class="select2 form-select">
                            <option hidden>Please select</option>

                            @foreach (var item in Model.listKategori)
                            {
                                <option value=@item.Id>@item.NamaKategori</option>
                            }
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="tajuk">Title</label>
                        <input type="text" class="form-control" id="tajuk" name="kursus.Tajuk" placeholder="Enter title" required/>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="tarikh-mula">Start Date</label>
                        <input class="form-control" id="tarikh-mula" type="date" name="kursus.TarikhMula" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="tarikh-akhir">End Date</label>
                        <input class="form-control" id="tarikh-akhir" type="date" name="kursus.TarikhAkhir" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="lokasi">Location</label>
                        <input type="text" class="form-control" id="lokasi" name="kursus.Lokasi" placeholder="Enter location" required />
                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="history.back()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#form-add-course').submit(function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '/course/addcourse?handler=CreateCourse',
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                    window.location.href = '/course/course';
                } else {
                    $('#error-toast').removeClass('hide').addClass('bs-toast toast fade bg-danger show my-4');
                    $('#error-msg').text(response.msg);
                }
            },
            error: function (xhr, status, error) {
                $('#error-toast').removeClass('hide').addClass('bs-toast toast fade bg-danger show my-4');
                $('#error-msg').text(error);
            }
        });
    })
</script>