@page
@model spl.Pages.Course.CategoryModel
@{
    ViewData["Title"] = "Daftar Kategori Kursus";
    ViewData["CurrentMenu"] = "category";
    Layout = Model.Layout;
}

<div class="container-xxl flex-grow-1 container-p-y">
   
</div>