@page
@model spl.Pages.Division.BranchModel
@{
    ViewData["Title"] = "Daftar Bahagian";
    ViewData["CurrentMenu"] = "branch";
    Layout = Model.Layout;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="col-xl-12">
        <h6 class="text-muted">Daftar</h6>
        <div class="nav-align-top mb-4">
            <ul class="nav nav-tabs nav-fill" role="tablist">
                <li class="nav-item">
                    <button type="button"
                            id="btn-nav-branch"
                            class="nav-link active"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-branch"
                            aria-controls="navs-justified-branch"
                            aria-selected="true">
                        Bahagian
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            id="btn-nav-section"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-section"
                            aria-controls="navs-justified-section"
                            aria-selected="false">
                        Cawangan
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button"
                            id="btn-nav-unit"
                            class="nav-link"
                            role="tab"
                            data-bs-toggle="tab"
                            data-bs-target="#navs-justified-unit"
                            aria-controls="navs-justified-unit"
                            aria-selected="false">
                        Unit
                    </button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="navs-justified-branch" role="tabpanel">
                    <h2>Senarai Bahagian</h2>
                    <a class='btn btn-primary btn-sm' href='/Division/AddBranch'>Daftar Bahagian</a>
                    <table class="table">
                        <thead>
                             <tr>
                                 <th>Id</th>
                                 <th>Nama Bahagian</th>
                             </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="navs-justified-section" role="tabpanel">
                    <p>
                        Donut dragée jelly pie halvah. Danish gingerbread bonbon cookie wafer candy oat cake ice
                        cream. Gummies halvah tootsie roll muffin biscuit icing dessert gingerbread. Pastry ice cream
                        cheesecake fruitcake.
                    </p>
                    <p class="mb-0">
                        Jelly-o jelly beans icing pastry cake cake lemon drops. Muffin muffin pie tiramisu halvah
                        cotton candy liquorice caramels.
                    </p>
                </div>
                <div class="tab-pane fade" id="navs-justified-unit" role="tabpanel">
                    <p>
                        Oat cake chupa chups dragée donut toffee. Sweet cotton candy jelly beans macaroon gummies
                        cupcake gummi bears cake chocolate.
                    </p>
                    <p class="mb-0">
                        Cake chocolate bar cotton candy apple pie tootsie roll ice cream apple pie brownie cake. Sweet
                        roll icing sesame snaps caramels danish toffee. Brownie biscuit dessert dessert. Pudding jelly
                        jelly-o tart brownie jelly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#btn-nav-branch").click(function () {
            $.ajax({
                type: 'GET',
                url: "/division/branch?handler=FetchBranch",
            });
        });

        $("#btn-nav-section").click(function () {
            $.ajax({
                type: 'GET',
                url: "/division/branch?handler=FetchSection",
            });
        });

        $("#btn-nav-unit").click(function () {
            $.ajax({
                type: 'GET',
                url: "/division/branch?handler=FetchUnit",
            });
        });
    });
</script>