@page
@model spl.Pages.Division.EditStationModel
@{
    ViewData["Title"] = "Kemaskini Stesen";
    ViewData["CurrentMenu"] = "station";
    Layout = Model.Layout;
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">Kemaskini Stesen</h5>
            </div>
            <div class="card-body">
                <div id="error-toast" class="bs-toast toast fade bg-danger hide my-4" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <i class="bx bx-error me-2"></i>
                        <div class="me-auto fw-semibold">Update Tidak Berjaya</div>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" id="error-msg"></div>
                </div>

                <form id="form-edit-station">
                   <input type="hidden" name="stesen.Id" value="@Model.stesen.Id" />
                    <div class="mb-3">
                        <label class="form-label" for="nama-bahagian">Nama Stesen</label>
                        <input type="text" class="form-control" id="nama-stesen" name="stesen.NamaStesen" value="@Model.stesen.NamaStesen"/>
                    </div>
                
                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Hantar</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="history.back()">Batal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#form-edit-station').submit(function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '/division/editstation?handler=UpdateStation',
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                   window.location.href = '/division/station';
                } else {
                    $('#error-toast').removeClass('hide').addClass('bs-toast toast fade bg-danger show my-4');
                    $('#error-msg').text(response.msg);
                }
            },
            error: function (xhr, status, error) {
                $('#error-toast').removeClass('hide').addClass('bs-toast toast fade bg-danger show my-4');
                $('#error-msg').text(error);
            }
        });

    })
</script>
