@page
@model spl.Pages.Division.EditSectionModel
@{
    ViewData["Title"] = "Edit Section";
    ViewData["CurrentMenu"] = "branch";
    Layout = Model.Layout;
}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <h5 class="mb-0">Edit Section</h5>
            </div>
            <div class="card-body">
                <div id="error-toast" class="bs-toast toast fade bg-danger hide my-4" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <i class="bx bx-error me-2"></i>
                        <div class="me-auto fw-semibold">Edit Error</div>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" id="error-msg"></div>
                </div>

                <form id="form-edit-section">
                  <input type="hidden" name="cawangan.Id" value="@Model.cawangan.Id" />
                    <div class="mb-3">
                        <label class="form-label" for="bahagian">Branch Name</label>
                        <select id="bahagian" name="cawangan.IdBahagian" class="select2 form-select" asp-for="cawangan.IdBahagian" asp-items="Model.selectBahagian" required>
                            <option value="" hidden>Please select</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="nama-cawangan">Section Name</label>
                        <input type="text" class="form-control" id="nama-cawangan" name="cawangan.NamaCawangan"  value="@Model.cawangan.NamaCawangan" required/>
                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <button type="button" class="btn btn-outline-secondary" onclick="history.back()">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#form-edit-section').submit(function (e) {
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '/division/editsection?handler=UpdateSection',
            data: $(this).serialize(),
            success: function (response) {
                if (response.success) {
                   window.location.href = '/division/branch';
                } else {
                    $('#error-toast').removeClass('hide').addClass('bs-toast toast fade bg-danger show my-4');
                    $('#error-msg').text(response.msg);
                }
            },
            error: function (xhr, status, error) {
                $('#error-toast').removeClass('hide').addClass('bs-toast toast fade bg-danger show my-4');
                $('#error-msg').text(error);
            }
        });

    })
</script>
