@page
@model spl.Pages.Division.GradeModel
@{
    ViewData["Title"] = "Daftar Gred";
    ViewData["CurrentMenu"] = "grade";
    Layout = Model.Layout;
}

<div class="container-xxl flex-grow-1 container-p-y">
   
</div>