@page
@model spl.Pages.Division.StationModel
@{
    ViewData["Title"] = "Daftar Stesen";
    ViewData["CurrentMenu"] = "station";
    Layout = Model.Layout;
}

<div class="container-xxl flex-grow-1 container-p-y">
    
</div>