@page
@model spl.Pages.Officer.OfficerModel
@{
    ViewData["Title"] = "Daftar Pegawai";
    ViewData["CurrentMenu"] = "officer";
    Layout = Model.Layout;
}

<div class="container-xxl flex-grow-1 container-p-y">
   
</div>