@page
@model spl.Pages.Officer.PicModel
@{
    ViewData["Title"] = "Daftar Urusetia";
    ViewData["CurrentMenu"] = "pic";
    Layout = Model.Layout;
}

<div class="container-xxl flex-grow-1 container-p-y">

</div>